*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }  

.container {
    width: 1440px;
    padding: 24px 156px;
    background: #fff;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    
}

.gallery-item:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.modal {
  width: 1440px;
  background: rgba(46, 47, 66, 0.8);
  padding: 28px 164px;
}

.modal img {
  width: 1112px;
}